*{
	padding: 0;
	margin: 0;
	font-family: 'Press Start 2P', cursive;
}

body {
	background: #011F3F;
}

main {
	width: 80%;
	margin: auto;
	text-align: center;
}
main h1 {
	font-size: 3rem;
	margin: 5%;
	color: #fef2bf;
	margin-bottom: 6rem;
}

main .squr-wrapper {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.item {
	width: 200px;
	height: 200px;
	border: 10px solid #000;
	border-radius: 40px;
	margin: 10px;
}

.green {
	background: #008000;
}
.red {
	background: #f00;
}
.yellow {
	background: #ff0;
}
.blue {
	background: #00f;
}

.blinked {
	animation: Animation 1s linear infinite;
}

.clicked {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@keyframes Animation {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
